<%= link_to 'Home', root_path%>

<!DOCTYPE html>
<html>
<body>

<center></center>
<h1>This is the Alpha Blog</h1>
<p>About Alpha Blog</p>
<br>
<p>Alpha Blog is a creation for Ruby on Rails training through Udemy</p>
<br>
<p>The motto of Alpha Blog is <b>Woof Woof</b></p>

<%= image_tag 'alpha.jpg', style: "height:20%;width:auto;" %>

</body>
</html>
