<%= link_to 'About', about_path%>

<!DOCTYPE html>
<html>
<body>

<center></center>
<h1>This is the Alpha Blog</h1>
<p>Welcome to the Blogosphere</p>
<br>
<p>Woof Woof</p>

</body>
</html>
